apiVersion: v1
kind: Service
metadata:
  name: webrtc-web
  namespace: laravel-webrtc
spec:
  type: LoadBalancer
  selector:
    app: webrtc-web
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: https
      port: 8443
      targetPort: 8443
